################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Spend.Tests/obj/Debug
*.user
/Spend/obj/Debug
/Spend/bin
/packages/Newtonsoft.Json.6.0.4
/packages/Owin.1.0
/packages
